//- als we hier een navigatie in willen en die moet op meerdere paginas kunnen we ook een navigatie.pug aanmaken en die in elke pagina importeren

doctype html
html(lang="en")
    head
        meta(charset = "utf-8")
        meta(name = "discription" content="All courses for the information and computing science bachelor at Utrecht University")
        meta(name = "keywords" content="courses, utrecht university, information science, computing science, game technology")
        meta(name = "viewport" content="width=device-width, initial-scale=1.0")
        //- Link to external CSS style document
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/table.css")
        script(src='/js/coursetableloader.js')
        title Welcome
    body(onload = "loadCourses()")
        include navigation.pug
        article
            h2 Overview of all courses
            p Below you can find a list of courses for Game Technology, Information and Computer Science bachelor and masters.
            table#coursetable
                tr 
                    th Title
                    th Program
                    th Semester
                    th Level
                
                //- //- for course in courses
                //- //-     tr
                //- //-         td
                //- //-             a(href="/course/"+course.code)= course.title
                //- //-         td= course.program
                //- //-         td= course.semester
                //- //-         td= course.level