doctype html
html(lang="en")
    head
        meta(charset = "utf-8")
        meta(name = "discription" content="All courses for the information and computing science bachelor at Utrecht University")
        meta(name = "keywords" content="courses, utrecht university, information science, computing science, game technology")
        meta(name = "viewport" content="width=device-width, initial-scale=1.0")
        //- Link to external CSS style document(s)
        link(rel="stylesheet" href="css/main.css")
        link(rel="stylesheet" href="css/table.css")
        //- Link to external JavaScript document(s)
        script(src='/js/coursetableloader.js')
        title Welcome

    body(onload = "loadCourses()")
        include navigation.pug
        
        header
            h1 Department of Game Technology, Information and Computing Sciences
        article
            h2 Overview of all courses
            p Below you can find a list of courses for Game Technology, Information and Computer Science bachelor and masters.
            section.dropDown
                //- Dropdown items for search inputs 
                form(action="/select_program", method="post")
                    label(for="select_program") Select your program:
                    select(name= "dropdown", id= "SelectProgram" )
                        each val in ["", "Information Science","Computer Science","Game Technology" ]
                            option=val

                form(action="/select_semester", method="post")
                    label(for="select_semester") Select preferred semester:
                    select(name= "dropdown", id= "SelectSemester" )
                        each val in ["", "1","2","3", "4" ]
                            option=val
                form(action="/select_level", method="post")
                    label(for="select_level") Select academic level:
                    select(name= "dropdown", id= "SelectLevel" )
                        each val in ["", "MSc","BSc" ]
                            option=val
                div#applyButton
                    button(type="submit") OK
                    //- EXAMPLE: button(type='button', onclick='someFunction("'+ yourObject.id +'")' ) PressMe
            
            table#coursetable
                tr 
                    th Title
                    th Program
                    th Semester
                    th Level
                
                //- //- for course in courses
                //- //-     tr
                //- //-         td
                //- //-             a(href="/course/"+course.code)= course.title
                //- //-         td= course.program
                //- //-         td= course.semester
                //- //-         td= course.level