head
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/image.css")
body 
    img.bannerImage(src='/css/Banner.jpg', alt='Banner Image')

    nav    
        a(href='/') Home
        
        a(href='#') Log in
