@import "table.css";
@import "image.css"; 

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color:yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.1em;
}
nav a {
    float: left;
    display: block; 
    color:black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}
nav :first-child{
    font-size: 1.5em;
    padding: 5px 15px;
}

nav a:hover {
    color:black;
}
nav a.active{
    background-color: orange;
}

#inp1{
    text-align: center;
    width: auto;
    position: relative;
}

.dropDown{
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    height: 2rem;
    justify-content: center;
}
.dropDown form{
    margin: 0px 10px;
}

